# Byte-compiled / cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Python virtualenv
venv/
env/

# Jupyter
.ipynb_checkpoints/
# Dataset files
*.wav
*.mp3
*.npy
*.zip
*.mid
maestro-v3.0.0/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Model checkpoints 
*.pt
*.pth
*.ckpt2015/
mels/
mels_test/
midi/

# Force-track generated outputs 
!EDA/
!EDA/**
!mels/
!mels/**
!pianorolls/
!pianorolls/**
